body {
	min-width: 900px;
	margin: 0;
	padding: 0;
	/*background: #a6938c;*/
	 background: #000000 url("../gllacy-index-900.jpg") no-repeat center top;

	/* Typography */
	font-family: 'Roboto', 'Threbuchet', 'Arial', sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px; 
	color: #ffffff;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
/* header */
.main-header {
	min-height: 75px;
	margin-bottom: ;

}
.container {
	width: 860px;
	min-height: 120px;
	margin: 0 auto;
}
.main-logo {
	float: left;
	width: 154px;
	height: auto;
	margin-right: 15px;
	margin-top: 9px;
	margin-left: -6px;
}
.main-navigation {
	float: left;
	width: 402px;
	min-height: 60px;
	margin-top: 23px;

}
.main-navigation >ul {
	font-size: 0px;
	list-style: none;
	margin: 0;
	padding: 0;
}

.main-navigation ul > li {
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;
	margin-right: 3px;
}

.main-navigation a {
	display: block;
	border-radius: 16px;
	background-color: transparent;
	padding: 8px 13px;
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;
	color: #ffffff;
}
.main-navigation a:hover {
	background-color: #f8f7f4;
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;
	color: #323232; 
	text-decoration: none;
}



.header-right {
	float: right;
	
}
.header-right-top {
	float: left;
	width: 263px;
	min-height: 32px;
	margin-right: 9px;
	margin-bottom: 20px;
}
.header-seacrh {
	float: left;
	width: 32px;
	height: 32px;
	margin-right: 9px;
	background: ;
}
.search-icon {

}
.header-login {
	float: left;
	width: 93px;
	margin-right: 9px;
	background-color: black;

}
.header-cart {
	float: right;
	width: 117px;
	margin-right: 0px;
}
.header-right-bottom {
	width: 263px;
	padding-top: 20px;
	text-align: right;
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
}

}
.header-phone span{
	font-size: 22px;
	font-weight: 900;
	line-height: 24px;
}








.main-slider {
}

/* banners */
.main-banners {
	margin-bottom: 40px;
}
.main-banner {
	float: left;
	width: 400px;
	min-height: 230px;
	margin-right: 20px;
	margin-bottom: 20px;
	padding-left: 20px; 
	padding-bottom: 24px;
	 
}
.main-banner:last-child {
	margin-right: 0px;
}
.main-banner h2 {
	padding-bottom: 30px;
	font-size: 35px;
	font-weight: 700;
}
.paspberry-banner {
	background: #8d0918 url("../img/raspberry_banner.png") no-repeat;
}
.chocolate-banner {
	background: #7a4b2d url("../img/chocolate_banner.png") no-repeat;
}

/* catalog */
.main-catalog {
	margin-bottom: 40px;	
}
.catalog-list {
	font-size: 0px;
	
}
.catalog-item {
	display: inline-block;
	vertical-align: top;
	width: 200px;
	margin-right: 20px; 
	font-size: 12px;
}
.catalog-item:nth-child(4n) {
	margin-right: 0px;
}
.cost {
	font-size: 45px;
	line-height: 45px; 
	font-weight: 700;
}
.cost span {
	font-size: 30px;
}
.catalog-item h4 {
	margin-top: 16px;
	text-align: center;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px; 
}
.main-about {
	margin-bottom: 40px;


/* about company */
}
.about {
	padding-top: 30px;
	padding-right: 20px;
	padding-left: 20px;
	background: #eee2c5 url("img/waffle_pattern.jpg") repeat-x;
	font-size: 0px;	

}
.about h4 {
	font-size: 24px;
	font-weight: 500;
	line-height: 30px; 
}
.about-item {
	display: inline-block;
	vertical-align: top;
	width: 400px;
	margin-right: 20px;
	margin-bottom: 18px;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px; 
}
.about-item:nth-child(2n) {
	margin-right: 0px;
}
.about-item p {
	width: 344px;
}

/* news&subcribe */
.news-subcribe {
	margin-bottom: 40px;	
}
.bar {
	float: left;
	width: 380px;
	min-height: 230px;
	margin-right: 20px;
	background-color: lightgreen;
	padding-top: 28px;
	padding-right: 20px;
	padding-left: 20px;
}
.bar:last-child {
	margin-right: 0px;
}
.bar p {
	font-size: 16px;
	font-weight: 500;
	line-height: 22px; 	
}
.bar h4 {
	font-size: 24px;
	font-weight: 700;
	line-height: 30px; 
}
.news {
	background: #ffffff url("img/news_block.png") no-repeat;
	color: #5a5a5a;
}
.subcribe {
	background: #f8f7f4 url("img/post_pattern.png") no-repeat;
	color: #5a5a5a;
}

/* map */
.map {
	margin-bottom: 20px;
	background-color: lightblue;
	min-height: 430px;
}
.address {
	float: right;
	width: 302px;
	min-height: 305px;
	border-radius:  15px;
	margin-top: 62px;]]]]]
	margin-bottom: 30px;
	padding-top: 32px;
	padding-left: 25px;
	padding-right: 25px;
	background-color: #fffffe;
	color: #323232;


}
.address p {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;

}
.address p span {
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
}

/* footer */
.footer {
	margin-right: 20px;
	margin-top: 36px;
	margin-bottom: 25px;
	font-size: 13px;
	font-weight: 300px;
	line-height: 18px;
}
.footer-social {
	float: left;
	width: 200px;
}
.social-btn {
	float: left;
	margin-right: 12px;
}
.social-btn .social-btn-twit {
	background-image: url(img/twitter.svg);
}
.social-btn .social-btn-inst {
	background-image: url(img/instagram.svg);
}
.social-btn .social-btn-fb {
	background-image: url(img/facebook.svg);
}
.social-btn .social-btn-vk {
	background-image: url(img/vk.svg);
}
.social-btn:nth-child(4n) {
	margin-right: 0px;
}
.footer-nav {
	width: 420px;
	
}
.footer-copyright {
	float: right;
	width: 200px;
	margin-right: 0px;

}
























