body {
	min-width: 900px;
	margin: 0;
	padding: 0;
	background: #8ea99a; /*#8996a6;#a6938c;*/
	/*background: #000000 url("../gllacy-index-900.jpg") no-repeat center top;
*/
	/* Typography */
	font-family: 'Roboto', 'Threbuchet', 'Arial', sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px; 
	color: #ffffff;
}
body > input[type="radio"] {
	display: none;
}
.site-wrapper {
	min-width: 900px;
	background-color: #8ea99a;
	background-image: url(../img/icecream_1.png);
	background-repeat: no-repeat;
	background-position: top center;
	transition: background-image 0.5s ease, 
	background-color 0.5s ease;
}
.site-wrapper::before,
.site-wrapper::after {
	content: "";
	visibility: hidden;
}
.site-wrapper::before,
.site-wrapper::after {
	content: "";
	background: url(../img/icecream_1.png);
}
.site-wrapper::after {
	content: "";
	background: url(../img/icecream_2.png);
}

/* SLIDER */
.main-slider {
	position: relative;
	margin-top: 270px;
	text-align: center;
	color: #ffffff;
	margin-bottom: 40px;
}
.slide {
	display: none;
}
.slide-title {
	width: 700px;
	margin: 0 auto;
	margin-bottom: 30px;

	font-weight: 900;
	font-size: 60px; 
	line-height: 60px;
}
.slide-btn {
	display: inline-block;
  	padding: 12px 50px;
	background: linear-gradient(to top, #e74a35, #f26843);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
	border-radius: 100px;	
	font-weight: 700;
	font-size: 31px;
	line-height: 41px;
	vertical-align: top;
	color: #ffffff;
	text-decoration: none;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}
.slide-btn:hover {
	background-color: linear-gradient(to top, #ec6f5e, #f58669);;
	box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.slide-btn:active {
	background-color: linear-gradient(to top, #e1613e, #d84732);;
	box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.slide-controls {
	position: absolute;
	bottom:  25px;
	left: 0;
	z-index: 20;
	font-size: 0;

}
.slide-controls label {
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-right: 8px;
	vertical-align: top;
	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 50%;
	cursor: pointer; 
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper {
	background-color: #8ea99a;
	background-image: url(../img/icecream_1.png);
}
#btn-2:checked ~ .site-wrapper {
	background-color: #8996a6;
	background-image: url(../img/icecream_2.png);
}
#btn-3:checked ~ .site-wrapper {
	background-color: #a6938c;
	background-image: url(../img/icecream_3.png);
}


#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}


.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


/* header */
.main-header {
	min-height: 75px;
	margin-bottom: ;

}
.container {
	width: 900px;
	min-height: 120px;
	margin: 0 auto;
}
.main-logo {
	float: left;
	width: 154px;
	height: auto;
	margin-right: 15px;
	margin-top: 9px;
	margin-left: -6px;
}
.main-navigation {
	float: left;
	width: 402px;
	min-height: 60px;
	margin-top: 23px;


}
.main-navigation > ul {
	font-size: 0px;
	list-style: none;
	margin: 0;
	padding: 0;
}

.main-navigation ul > li {
	position: relative;
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;
	margin-right: 3px;

}

.main-navigation a {
	display: block;
	border-radius: 16px;
	background-color: transparent;
	padding: 8px 13px;
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;
	color: #ffffff;
}
.main-navigation a:hover {
	color: #373737;
	background-color: #f8f7f4;
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;
	color: #323232; 
	text-decoration: none;

}
/* sub-menu */
.sub-menu {
	position: absolute;
	top: 37px;
	display: inline-block;
	width: 144px;
	
	list-style: none;
	padding: 0px;
	margin: 0px;
	background-color: #f8f7f4;
	border-radius: 5px;
	
}
.sub-menu li {
	display: block;
	white-space: nowrap;

}
.sub-menu a {
	display:block;
	padding: 13px 21px;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	color: #323232;
	text-decoration: none;
	background-color: #f8f7f4;


}
.sub-menu a:hover {
	display: block ;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	color: #323232;
	text-decoration: none;
	background-color:#fbded8;
	border-radius: 0;
	

}


.header-right {
	position: relative;
	float: right;
	
}
.header-right-top {
	width: 263px;
	min-height: 32px;
	margin-top: 23px;
	margin-bottom: 20px;
}
.header-seacrh {
	float: left;
	margin-right: 12px;
}
.search-icon {
	background: rgba(255,255,255,0.2) url(../img/search_icon.svg) no-repeat center;
	width: 32px;
	height: 32px;
	border-radius: 50%;
}
.header-login {
	float: left;
	width: 93px;
	margin-right: 9px;
	
}
.login-icon {
	position: relative;
	display: block;
	padding: 8px 13px 8px 44px;
	border-radius: 16px;
	background: rgba(255,255,255,0.2);
	color: #ffffff;
	font-size: 14px;
	line-height: 16px;
	text-decoration: none;
}
.login-icon::before {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	background: url(../img/log_in.svg) no-repeat;
	top: 6px;
	left: 16px;
}
.header-login a:hover {
	background-color: #f8f7f4;
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	color: #323232; 
	text-decoration: none;
}

.header-cart {
	float: right;
	width: 117px;
	margin-right: 0px;
}

.cart {
	position: relative;
	display: block;
	padding: 7px 34px 8px 44px;
	border-radius: 16px;
	background: rgba(255,255,255,0.2);
	color: #ffffff;
	font-size: 14px;
	line-height: 16px;
	text-decoration: none;
}
.cart::before {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	background: url(../img/cart.svg) no-repeat;
	top: 6px;
	left: 16px;
}
.header-cart a:hover {
	background-color: #f8f7f4;
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	color: #323232; 
	text-decoration: none;
}


.header-right-bottom {
	position: absolute;
	right: 0;
	bottom: -42px;
	width: 263px;
	padding-top: 20px;
	text-align: right;
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
}

.header-phone span a {
	font-size: 22px;
	font-weight: 900;
	line-height: 24px;
	color: #ffffff;
	text-decoration: none;

}
.header-phone p {
	margin: 0;
	margin-bottom: 5px;
}








.main-slider {
}

/* banners */
.main-banners {
	margin-bottom: 40px;
	padding-bottom: 23px;
}
.main-banner {
	float: left;
	width: 400px;
	min-height: 200px;
	margin-right: 20px;
	padding-left: 20px; 
	border-radius: 16px;
	 
}
.main-banner:last-child {
	margin-right: 0px;
}
.main-banner h2 {
	font-size: 35px;
	font-weight: 700;
}
.main-banner p {
	line-height: 22px;
	font-size: 18px;
	font-weight: 500;
}
.btn {
	display: block;
	width: 165px;
	margin-left: 175px;
	margin-bottom: 21px;
  	padding: 10px 20px;
	background: linear-gradient(to top, #e74a35, #f26843);
	box-shadow: 0 0 5px rgba(172,16,0,0.6);
	border-radius: 25px;
	border: none;
	outline: none;
	cursor: pointer;	
	color: #ffffff;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;
	text-align: center;
	
}

.paspberry-banner {
	position: relative;
	background: #8d0918 url(../img/raspberry_banner.png) no-repeat;

}
.chocolate-banner {
	background: #7a4b2d url(../img/chocolate_banner.png) no-repeat;
}



/* catalog */
.main-catalog {
	margin-bottom: 40px;	
}
.catalog-list {
	font-size: 0px;
	
}
.catalog-item {
	display: inline-block;
	vertical-align: top;
	width: 200px;
	margin-right: 20px; 
	font-size: 12px;
}
.catalog-item:nth-child(4n) {
	margin-right: 0px;
}
.catalog-item-img {
	width: 200px;
	height: 200px;
	overflow: hidden;
	border-radius: 200px;
}
.cost {
	font-size: 45px;
	line-height: 45px; 
	font-weight: 700;
}
.cost span {
	font-size: 30px;
}
.catalog-item h4 {
	margin-top: 16px;
	text-align: center;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px; 
}
.main-about {
	margin-bottom: 40px;


/* about company */
}
.about {
	position: relative;
	padding-right: 20px;
	padding-left: 20px;
	background: #eee2c5 url(../img/waffle_pattern.jpg) repeat-x;
	font-size: 0px;	
	color: #373737;

}
.about h4 {
	padding-top: 30px;
	font-size: 24px;
	font-weight: 500;
	line-height: 30px; 
}
.about-item {
	display: inline-block;
	vertical-align: top;
	width: 400px;
	margin-right: 20px;
	margin-bottom: 18px;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px; 
}
.about-item:nth-child(2n) {
	margin-right: 0px;
}
.seo-icecream::before {
	content: "";
	position: absolute;
	width: 47px;
	height: 47px;
	margin-right: 10px;
	background: url(../img/seo_ice_cream.svg) no-repeat;
	top: 6px;
	left: 16px;

}
.about-item p {
	width: 344px;
}

/* news&subcribe */
.news-subcribe {
	margin-bottom: 40px;	
}
.bar {
	float: left;
	width: 380px;
	min-height: 220px;
	border-radius: 16px;
	margin-right: 20px;
	padding-right: 20px;
	padding-left: 20px;
}
.bar:last-child {
	margin-right: 0px;
}
.bar p {
	margin-top: 26px;
	margin-bottom: 6px;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px; 	
}
.bar a {
	display: block;
	background-color: rgba(255,255,255,0.8);
	width: 296px;
	color: #373737;
	font-size: 24px;
	font-weight: 700;
	line-height: 30px; 
	cursor: pointer;
}
.news {
	background: #ffffff url(../img/news_block.png) no-repeat;
	color: #5a5a5a;
}
.subcribe {
	background: #f8f7f4 url(../img/post_pattern.png) no-repeat;
	color: #5a5a5a;
	

}


/* map */
.map {
	margin-bottom: 20px;
	background-color: lightblue;
	min-height: 430px;
}
.address {
	float: right;
	width: 302px;
	min-height: 305px;
	border-radius:  15px;
	margin-top: 62px;]]]]]
	margin-bottom: 30px;
	padding-top: 32px;
	padding-left: 25px;
	padding-right: 25px;
	background-color: #fffffe;
	color: #323232;


}
.address p {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;

}
.address p span {
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
}

/* footer */
.footer {
	margin-right: 20px;
	margin-top: 36px;
	margin-bottom: 25px;
	font-size: 13px;
	font-weight: 300px;
	line-height: 18px;
}
.footer-social {
	float: left;
	width: 200px;
}
.social-btn {
	float: left;
	margin-right: 12px;
}
.social-btn .social-btn-twit {
	background-image: url(../img/twitter.svg);
}
.social-btn .social-btn-inst {
	background-image: url(../img/instagram.svg);
}
.social-btn .social-btn-fb {
	background-image: url(../img/facebook.svg);
}
.social-btn .social-btn-vk {
	background-image: url(../img/vk.svg);
}
.social-btn:nth-child(4n) {
	margin-right: 0px;
}
.footer-nav {
	width: 420px;
	
}
.footer-copyright {
	float: right;
	width: 200px;
	margin-right: 0px;

}
























