body {
	min-width: 900px;
	margin: 0;
	padding: 0;

	/* Typography */
	font-family: 'Roboto', 'Threbuchet', sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px; 
	color: #ffffff;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
/* header */
.main-header {
	min-height: 120px;
	margin-bottom: ;
}
.container {
	background-color: lightgray;
	width: 860px;
	min-height: 120px;
	margin: 0 auto;
}
.main-logo {
	float: left;
	width: 149px;
	min-height: 73px;
	margin-right: 15px;
}
.main-navigation {
	float: left;
	width: 402px;
	min-height: 60px;
	background-color: red;

}
.header-right {
	float: right;
	background-color: blue;
}
.header-right-top {
	float: left;
	width: 263px;
	min-height: 32px;
	margin-right: 9px;
	margin-bottom: 20px;
}
.header-seacrh {
	float: left;
	width: 32px;
	height: 32px;
	margin-right: 9px;
	background-color: red;
}
.search-icon {

}
.header-login {
	float: left;
	width: 93px;
	margin-right: 9px;
	background-color: black;

}
.header-cart {
	float: right;
	width: 117px;
	margin-right: 0px;
}
.header-right-bottom {
	width: 263px;
	padding-top: 20px;
	text-align: right;
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
}

}
.header-phone span{
	font-size: 22px;
	font-weight: 900;
	line-height: 24px;
}








.main-slider {
}

/* banners */
.main-banners {
	margin-bottom: 40px;
}
.main-banner {
	float: left;
	width: 400px;
	min-height: 230px;
	margin-right: 20px;
	margin-bottom: 40px;
	padding-left: 20px; 
	padding-bottom: 24px;
	background-color: yellow; 
}
.main-banner:last-child {
	margin-right: 0px;
}
.main-banner h2 {
	padding-bottom: 30px;
	font-size: 35px;
	font-weight: 700;
}


/* catalog */
.main-catalog {
	margin-bottom: 40px;	
}
.catalog-list {
	font-size: 0px;
	
}
.catalog-item {
	display: inline-block;
	vertical-align: top;
	width: 200px;
	margin-right: 20px; 
	font-size: 12px;
}
.catalog-item:nth-child(4n) {
	margin-right: 0px;
}
.cost {
	font-size: 45px;
	line-height: 45px; 
	font-weight: 700;
}
.cost span {
	font-size: 30px;
}
.catalog-item h4 {
	margin-top: 16px;
	text-align: center;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px; 
}
.main-about {
	margin-bottom: 40px;


/* about company */
}
.about {
	padding-top: 30px;
	padding-right: 20px;
	padding-left: 20px;
	font-size: 0px;	
}
.about h4 {
	font-size: 24px;
	font-weight: 500;
	line-height: 30px; 
}
.about-item {
	display: inline-block;
	vertical-align: top;
	width: 400px;
	margin-right: 20px;
	margin-bottom: 18px;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px; 
}
.about-item:nth-child(2n) {
	margin-right: 0px;
}
.about-item p {
	width: 344px;
}

/* news&subcribe */
.news-subcribe {
	margin-bottom: 40px;	
}
.bar {
	float: left;
	width: 380px;
	min-height: 230px;
	margin-right: 20px;
	background-color: lightgreen;
	padding-top: 28px;
	padding-right: 20px;
	padding-left: 20px;
}
.bar:last-child {
	margin-right: 0px;
}
.bar p {
	font-size: 16px;
	font-weight: 500;
	line-height: 22px; 	
}
.bar h4 {
	font-size: 24px;
	font-weight: 700;
	line-height: 30px; 
}

/* map */
.map {
	margin-bottom: 20px;
	background-color: lightblue;
	min-height: 430px;
}
.address {
	float: right;
	width: 302px;
	min-height: 305px;
	margin-top: 62px;
	padding-top: 32px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 30px;
	background-color: lightpink;
}
.address p {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;

}
.address p span {
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
}

/* footer */
.footer {
	margin-right: 20px;
	margin-top: 36px;
	margin-bottom: 25px;
	font-size: 13px;
	font-weight: 300px;
	line-height: 18px;
}
.footer-social {
	float: left;
	width: 200px;
}
.social-btn {
	float: left;
	margin-right: 12px;
}
.social-btn:nth-child(4n) {
	margin-right: 0px;
}
.footer-nav {
	width: 420px;
	
}
.footer-copyright {
	float: right;
	width: 200px;
	margin-right: 0px;

}
























